.btn {
  padding: 1em 1.5em;
  color: #FFF;
  font-weight: 400;
  background: $button-color;
  border-radius: 50px;
  box-shadow: 1px 4px 11px 0px #a6a0a0db;
  // opacity: 0.7;
}

.btn-order {
padding: 1em 3.5em;
}
