.restaurant-card {
  width: 90vw;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3em;
  border-radius: 15px;
  border-radius: 15px;
  box-shadow: 1px 4px 11px 0px #a6a0a0db;
  @media (min-width : 768px) and (max-width : 991px){
    width: 40vw;
  }
  @media (min-width : 992px) {
    width: 50vh;
  }
  .restaurant-card__img {
    position: relative;
    height: 170px;
    // height: 238px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 50%;
      // top: 26%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.tag-new {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  width: 90px;
  height: 30px;
  padding: 6px 14px;
  font-weight: 500;
  color: darken($tertiary-color, 40%);
  background-color: $tertiary-color;
  border-radius: 5px;
}

.restaurant-card__content {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px 0px 14px;
  font-size: 1.1rem;
  p {
    margin: 0;
    padding-bottom: 0.5em;
  }
    p:first-child {
      font-weight: 600;
    }
}

.restaurant-card__content__icon {
  background-color: #f7f7f7;
  border: none;
}

.fa-heart {
  // color: $button-color;
  font-size: 1.5rem;
  background-size: 100%;
  cursor: pointer;
  &:hover {
    background-image: $button-color;
    font-weight: 600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
