.container__restaurant-card {
  position: relative;
}

.restaurant-card {
  width: 85vw;
  height: 250px;
  margin-left: auto;
  margin-right: 0.8em;
  margin-bottom: 1.3em;
  border-radius: 15px;
  border-radius: 15px;
  box-shadow: 1px 4px 11px 0px #a6a0a0db;
  @media (min-width : 768px) and (max-width : 991px){
    width: 40vw;
  }
  @media (min-width : 992px) {
    width: 50vh;
  }
  .restaurant-card__img {
    position: relative;
    height: 170px;
    // height: 238px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 50%;
      // top: 26%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.restaurant-card:hover {
  box-shadow: 2px 5px 12px 1px #a6a0a0db;
}

.tag-new {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  width: 90px;
  height: 30px;
  padding: 6px 14px;
  font-weight: 500;
  color: darken($tertiary-color, 40%);
  background-color: $tertiary-color;
  border-radius: 5px;
}

.restaurant-card__content {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px 0px 14px;
  font-size: 1.1rem;
  p {
    margin: 0;
    padding-bottom: 0.5em;
    font-weight: 100;
  }
    p:first-child {
      font-weight: 600;
    }
}

.restaurant-card__heart-button {
  position: absolute;
  top: 12em;
  right: 2em;
  background-color: #f7f7f7;
  // border: none;
}

.restaurant-card__heart-button:hover {
  .restaurant-card__heart-icon2 {
    font-weight: 600 !important;
    z-index: 10;
  }
}

// @keyframes fillheart {
//  from {
//   opacity: 0;
//  }
//  to {
//   opacity: 1;
//   background-color: red;
//   background-image: $button-color;
//   font-weight: 600;
//  }
// }

.restaurant-card__heart-icon {
  position: absolute;
  top: 0em;
  right: 2em;
  z-index: 5;
  // color: $button-color;
  // position: relative;
  // overflow: hidden;
  font-size: 1.5rem;
  // background-size: 100%;
  cursor: pointer;
  // background-color: black;
  // background-clip: text;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -moz-text-fill-color: transparent;

  // &::before {
  //   position: absolute;
  //   display: block;
  //   content: "\f004";
  //   width: 80px;
  //   height: 80px;
  //   background-image: red;
  // }
  // &:hover {
  //   animation-name: fillheart;
  //   animation-duration: 5s;
  //   animation-fill-mode: forwards;
    // background-color: red;
  }
// }

.restaurant-card__heart-icon2 {
  position: absolute;
  top: 0em;
  right: 2em;
  font-size: 1.5rem;

  // font-weight: 600 !important;
  // background-color: $button-color;
  // background-color: black;
  background-image: $button-color;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  // background-size: 100%;
  // cursor: pointer;
}
