footer {
  color: #FFF;
  background-color: #2b2b2b;
}

.footer__logo {
  margin: 0;
  padding: 1.9em 0em 1.2em 1.4em;
  font-family: $logo;
  font-size: 1rem;
  font-weight: 100;
}

.footer__list {
  padding: 0.2em 0em 2em 1.4em;
  margin: 0;
  @media (min-width : 768px) {
    display: flex;
    padding: 1.2em 0em 2em 1.4em;
  }
  li {
    padding: 0em 1em 0.6em 0em;
    @media (min-width : 768px) {
      padding-right: 4em;
    }
  }
  a {color: #FFF;}
  i {
    font-size: 0.7rem;
    padding-right: 0.9em;
  }
}
