.header-restaurant__top {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 30px;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
}

.header-restaurant__img {
  height: 50px;
}
