.header-restaurant__top {
  display: flex;
  justify-content: space-between;
  .header-restaurant__back-home {
    font-size: 1.3rem;
    margin-top: 1.5em;
    margin-left: 0.9em;
    }
    .header__logo {
      height: 30px;
      margin: 1.7em auto 0.9em;
    }
}

// .header-restaurant__background {
//   position: relative;
  .header-restaurant__background-img {
    // position: relative;
    height: auto;
    width: 105%;
    // object-fit: cover;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
// }
