.container__menu__item {
  border: solid 1px red;
}
// HEADER MENU
.menu {
  position: relative;
  top: -3.7em;
  width: 100%;
  max-width: 100%;
  margin-bottom: -4em;
  padding: 2em 1.1em 2em 1.4em;
  background-color: #f8f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $logo;
    @media (min-width : 768px) {
      margin-left: 8em;
      margin-right: 2em;
    }
    @media (min-width : 992px) {
      margin-left: 1em;
    }
    .menu__header__title {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 100;
      font-size: 1.7rem;
    }
    &>.menu__icon {
      margin-right: 0.5em;
      font-size: 1.4rem;
      font-weight: 100;
      }
    }
  }

// MENUS
.all-menus {
  border: solid 1px blue;
  display: flex;
  flex-direction: column;
  @media (min-width : 768px) {
  align-items: center;
  }
  @media (min-width : 992px) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
}

.menu__part__title {
  position: relative;
  margin-bottom: 1.6em;
  margin-top: 2.7em;
  font-size: 1rem;
  font-weight: 400;
  color: #737171db;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 22px;
    width: 41px;
    height: 3px;
    background-color: $tertiary-color;
  }
}

input {display: none;}

@keyframes fade-in-menus {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.menu__item {
  @media (min-width : 768px) {
    width: 65vw;
  }
  @media (min-width : 992px) {
    width: 28vw;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 67px;
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 6px 12px 0px #e1e1e1db;
  overflow: hidden;
  cursor: pointer;
  animation: fade-in-menus 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  .menu__item__content {
    width: 72vw;
    padding: 0.6em 0.5em 0.6em 0.6em;
    line-height: 1.6em;
    margin: 0;
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    @media (min-width : 992px) {
      width: 23vw;
    }
    .menu__item__content__title {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .menu__item__content__description {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
  .menu__item__price {
    margin-right: 1em;
    margin-top: 2em;
    font-weight: 500;
    transition: all 330ms ease;
  }
}

.starter-1,
.dish-1,
.dessert-1 {
  animation-delay: 0.1s;
}

.starter-2,
.dish-2,
.dessert-2 {
  animation-delay: 0.3s;
}

.starter-3,
.dish-3,
.dessert-3 {
  animation-delay: 0.5s;
}

.starter-4 {
  animation-delay: 0.6s;
}

.menu__item-selected {
  position: absolute;
  top: 0px;
  right: -131px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  width: 18%;
  font-size: 1.3rem;
  color: #fff;
  background-color: $tertiary-color;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform-origin: right;
  transition: all 500ms ease;
  @media (min-width:992px) {
    right: -116px;
  }
  > .menu__item-selected__icon {
    transition: transform 700ms ease;
    transform: rotate(0deg);
  }
}

input:checked + .menu__item {
  .menu__item__content {
    width: 65%;
  }
  .menu__item__price {
    transform: translateX(-19vw);
    @media (min-width: 768px) {
      transform: translateX(-11vw);
    }
    @media (min-width: 992px) {
      transform: translateX(-5vw);
    }
  }
  .menu__item-selected {
    right: 0px;
    .menu__item-selected__icon {
      transform: rotate(360deg);
    }
  }
}

.btn-order {
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}
