// Here is the header of the home page


.header-home__top {
  @media (min-width : 768px) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  }
}

.header-home {
  text-align: center;
}

.header__logo {
  height: 30px;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
  @media (min-width : 768px) {
    margin-left: 0.9em;
    margin-top: 0;
  }
}

.header-home__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e7e7;
  border-top: 3px solid #d6d3d3db;
  height: 45px;

  p {
    margin-left: 1em;
    font-weight: 600;
  }
  @media (min-width : 768px) {
    margin-right: 0.9em;
    background-color: #FFF;
    border-top: none;

  }
}

.header-home__bottom {
  height: 265px;
  background-color: #f6f6f6db;
}

h1 {
  margin: 0 1.9em 0 1.9em;
  padding-top: 1em;
  font-size: 1.5rem;
}

h1+p {
  margin-bottom: 2.5em;
  font-size: 1.1rem;
}
