// LOADING SPINNER
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes stop-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  background-color: #99E2D0;
  opacity: 1;
  animation: stop-spinner 3s;
  animation-fill-mode: forwards;
}

.loading-spinner-round {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 20em;
  border-radius: 50px;
  background: $button-color;
}

.loading-spinner-round:nth-last-child(1) {
  animation: loading 0.7s 0.1s linear infinite;
}

.loading-spinner-round:nth-last-child(2) {
  animation: loading 0.7s 0.2s linear infinite;
}

.loading-spinner-round:nth-last-child(3) {
  animation: loading 0.7s 0.3s linear infinite;
}

// HOMEPAGE HEADER
.header-home__top {
  @media (min-width : 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }
}

.header-home {
  text-align: center;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  height: 30px;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
  @media (min-width : 768px) {
    margin-left: 0.9em;
    margin-top: 0;
  }
}

.header-home__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e7e7;
  border-top: 3px solid #d6d3d3db;
  height: 45px;
  p {
    margin-left: 1em;
    font-weight: 600;
  }
  @media (min-width : 768px) {
    margin-right: 0.9em;
    background-color: #FFF;
    border-top: none;
  }
}

.header-home__bottom {
  height: 265px;
  background-color: $background-color;
  h1 {
    margin: 0 1.9em 0 1.9em;
    padding-top: 1em;
    font-size: 1.5rem;
    +p {
      margin-bottom: 2.5em;
      font-size: 1.1rem;
      font-weight: 100;
    }
  }
}

// INSTRUCTIONS SECTION
.instructions {
  margin: 3em 2em 0 2em;
  @media (min-width : 768px) {
    margin: 3em 5em 0 5em;
  }
}

.all-instructions {
  margin-bottom: 4em;
  counter-reset: instructions-counter;
  @media (min-width: 992px) {
    display: flex;
  }
}

.instructions__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.4em;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: $background-color;
  box-shadow: 2px 6px 12px 0px #e1e1e1db;
  font-weight: 600;
  @media (min-width: 992px) {
    padding-right: 1.6rem;
    margin-right: 3em;
  }
  &::before {
    counter-increment: instructions-counter;
    content: counter(instructions-counter);
    position: absolute;
    left: -10px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 100;
    color: #FFF;
    border-radius: 50px;
    background: $primary-color;
  }
  &.is-highlight {
    background: $light-primary-color;
    color: $primary-color;
    .instructions__item-icon {
      color: $primary-color ;
    }
    p {
      color: black;
    }
  }
  .instructions__item-icon {
    margin: 0 1.4em 0;
    color: #787676db;
    font-size: 1.2rem;
  }
}

// RESTAURANTS SECTION
.restaurants-section {
  padding: 2em 1.1em 2em 1.4em;
  background-color: $background-color;
  @media (min-width: 768px) {
    h2 {
      margin-left: 1em;
    }
  }
}

.all-restaurants-cards {
  @media (min-width : 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
