// Loading spinner
.loading-spinner {
  position: fixed;
  background-color: yellow;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0.8;
}

.loading-spinner-square {
  width: 10%;
  height: 10%;
  border-radius: 4px;
  background: $button-color;
  margin-top: 45%;
}

.loading-spinner .loading-spinner-square {
  animation: loadingG 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite alternate;
}

@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  100% {
    transform: translate(800px, 0) rotate(360deg);
  }
}


// Header of the home page
.header-home__top {
  @media (min-width : 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }
}

.header-home {
  text-align: center;
}

.header__logo {
  height: 30px;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
  @media (min-width : 768px) {
    margin-left: 0.9em;
    margin-top: 0;
  }
}

.header-home__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e7e7;
  border-top: 3px solid #d6d3d3db;
  height: 45px;
  p {
    margin-left: 1em;
    font-weight: 600;
  }
  @media (min-width : 768px) {
    margin-right: 0.9em;
    background-color: #FFF;
    border-top: none;
  }
}

.header-home__bottom {
  height: 265px;
  background-color: $background-color;
  h1 {
    margin: 0 1.9em 0 1.9em;
    padding-top: 1em;
    font-size: 1.5rem;
    +p {
      margin-bottom: 2.5em;
      font-size: 1.1rem;
    }
  }
}

// Here is the instructions section
.instructions {
  margin: 3em 2em 0 2em;
  @media (min-width : 768px) and (max-width : 991px) {
    margin: 3em 5em 0 5em;
  }
  @media (min-width : 992px) {
    margin: 3em 15em 0 15em;
  }
}

.all-instructions {
  margin-bottom: 4em;
  counter-reset: instructions-counter;
}

.instructions__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.4em;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: $background-color;
  box-shadow: 2px 6px 12px 0px #e1e1e1db;
  &::before {
    counter-increment: instructions-counter;
    content: counter(instructions-counter);
    position: absolute;
    left: -10px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 100;
    color: #FFF;
    border-radius: 50px;
    background: $primary-color;
  }
  &.is-highlight {
    background: $light-primary-color;
    color: $primary-color;
    .instructions__item-icon {
        color: $primary-color ;
      }
  }
  .instructions__item-icon {
    margin: 0 1.4em 0;
    color: #787676db;
    font-size: 1.2rem;
  }
}

// Here is the restaurants section
.restaurants-section {
  padding: 2em 1.1em 2em 1.4em;
  background-color: $background-color;
  // height: 500px;
}

.all-restaurants-cards {
  @media (min-width : 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
